<template>
    <div class="list-group">
        <marsupilami-component v-for="marsupilami of marsupilamis" :info="marsupilami"></marsupilami-component>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                marsupilamis  : []
            }
        } ,
        mounted() {
            axios.get('/marsupilamis').then(function(response){
                this.marsupilamis = response.data;
            }.bind(this));
        }
    }
</script>