<template>
    <div class="list-group">
        <marsupilami-component v-for="ami of amis" :info="ami" :ami="true" v-on:supprimerAmi="supprimerAmi($event)"></marsupilami-component>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                amis : []
            }
        } ,
        mounted() {
            axios.get('/mes_amis').then(function(response){
                this.amis = response.data;
            }.bind(this));
        },
        methods: {
            supprimerAmi(amiASupprimerId) // local
            {
                this.amis = this.amis.filter(ami => ami.id != amiASupprimerId);
            }
        }
    }
</script>
