<template>
    <a class="list-group-item list-group-item-action flex-column align-items-start w-100">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Nom : {{ info.nom }}</h5>
            <small>3 days ago</small>
        </div>
        <p class="my-1">Age : {{ info.age }}</p>
        <p class="my-1">Race : {{ info.race }}</p>
        <p class="my-1">Famille : {{ info.famille }}</p>
        <br>
        <button class="btn btn-outline-danger btn-sm float-right ml-2" :disabled="!ami" @click="supprimer">Supprimer</button>
        <button class="btn btn-outline-success btn-sm float-right ml-2" :disabled="ami" @click="ajouter">Ajouter</button>
    </a>
</template>

<script>
    export default {
        props :{
            info : {
                type : Object ,
                required : true
            },
            ami : {
                type : Boolean ,
                required : false
            }
        },
        methods : {
            supprimer(){
                if (!this.ami) return;

                axios.delete('/ami/supprimer/' + this.info.id).then(function () {
                    this.$emit('supprimerAmi' , this.info.id);
                }.bind(this));
            },
            ajouter() {
                if (this.ami) return;

                axios.post('/ami/ajouter/' + this.info.id).then(function () {
                    console.log('ami ajouter');
                });

            }
        }
    }
</script>

<style scoped>

</style>